<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Tracking key</th>
                <th>Order number</th>
                <th>Number of package</th>
                <th>Kgs</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{package.customer_name}}</td>
                <td>{{package.tracking_key}}</td>
                <td>{{package.order_number}}</td>
                <td>{{package.number_of_parcel}}</td>
                <td>{{package.kgs}}</td>
                <td><a href="{% url 'parcel_create' package.id %}">add parcel</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{% url 'courier_create' %}">create</a>
</body>
</html>